body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label,
input,
select {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1,
h2 {
    text-align: center;
    color: #333333;
}

.previous-score {
    text-align: center;
    color: #555555;
    margin-top: 20px;
}

.previous-score p {
    margin-bottom: 5px;
}

.update-score-form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-doesnt {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.score-exists {
    text-align: center;
    color: green;
    margin-top: 20px;
}

.participant-info {
    text-align: center;
    margin-bottom: 20px;
}